<form class="form-horizontal" action='' method="POST" ng-submit="submit()">
  <fieldset>
    <div id="legend">
      <legend class="">Ajouter une nouvelle séance</legend>
    </div>
    <div class="control-group">
      <label class="control-label"  for="date">Date*</label>
      <div class="controls">
        <input type="date" id="date" name="date" ng-model="formData.date" placeholder="" class="input-xlarge" required="">
      </div>
    </div>
	
	<div class="control-group">
      <label class="control-label"  for="distance">Distance*</label>
      <div class="controls">
        <input type="number" id="distance" name="distance" ng-model="formData.distance" placeholder="" class="input-xlarge" required="">
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label" for="heureDepart">Heure de départ*</label>
      <div class="controls">
        <input type="time" id="heureDepart" name="heureDepart" ng-model="formData.heureDepart" placeholder="" class="input-xlarge" required="">
      </div>
    </div>
	
	<div class="control-group">
      <label class="control-label" for="heurefin">Heure de fin</label>
      <div class="controls">
        <input type="time" id="heurefin" name="heurefin" ng-model="formData.heurefin" placeholder="" class="input-xlarge" >
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label" for="calories">Calories</label>
      <div class="controls">
        <input type="number" id="calories" name="calories" ng-model="formData.calories" placeholder="" class="input-xlarge">
      </div>
    </div>
	
	<div class="control-group">
      <label class="control-label" for="vitesse">Vitesse (en km/h)*</label>
      <div class="controls">
        <input type="number" id="vitesse" name="vitesse" ng-model="formData.vitesse" placeholder="" class="input-xlarge" required="">
      </div>
    </div>

	<div class="control-group">
      <label class="control-label" for="meteo">Méteo</label>
      <div class="controls">
        <select class="input-xlarge">
		  <option ng-repeat="meteo in listMeteo" value="{{id.id}}">{{meteo.nomMeteo}}</option>
		</select>
      </div>
    </div>	
	
	<input type="hidden" id="utilisateur" name="utilisateur" ng-model="formData.utilisateur"> 
 
	<br />
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
		<a class="btn btn-default" type="button" href="#/seance">Retour</a>
		<input class="btn btn-primary" type="submit" value="Ajouter">
      </div>
    </div>
  </fieldset>
</form>
