<div class="container-fluid well span6">
	<div class="row-fluid">
        <div class="span8">
            <h3>Seance #{{id}}</h3>
            <h6><b>Date :</b> {{date}}</h6>
            <h6><b>Heure de départ :</b> {{heureDepart}}</h6>
			<h6><b>Heure de fin :</b> {{heureFin}}</h6>
			<h6><b>Distance :</b> {{distance}}</h6>
            <h6><b>Vitesse :</b> {{vitesse}}</h6>
			<h6><b>Parcours :</b> {{parcours}}</h6>
			<h6><b>Durée :</b> {{duree}}</h6>
			<h6><b>Météo :</b> {{meteo}}</h6>
			<h6><b>Calories :</b> {{calories}}</h6>
			<h6><b>Type de sport :</b> {{typeSport}}</h6>
        </div>
        
        <div class="span2">
			<a class="btn btn-default" href="#/seance">Retour</a>
			<a class="btn btn-primary" href="#/updateSeance">Modifier</a>
        </div>
</div>
</div>