<link rel="stylesheet" href="styles/login.css">

<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

	<form class="form-signin" action='' method="POST" ng-submit="submit()">
		<h1 class="form-signin-heading text-muted">Connexion</h1>
		<input type="text" class="form-control" placeholder="Adresse email" ng-model="formData.adresseMail" required="" autofocus="">
		<input type="password" class="form-control" placeholder="Mot de passe" ng-model="formData.mdp" required="">
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			Se connecter
		</button>
		<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="register()" >
			S'inscrire
		</button>
	</form>
</div>