<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="content">
    <div class="jumbotron">
      <div class="container">
        <h1>Bienvenue chez toi {{prenom}}</h1>
        <p>Retrouve ici tes dernières séances, les derniers amis avec qui tu as échangé et pleins d'autres choses ! Regarde tout ce qu'on peut faire !</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Mes dernières séances</h2>
          <p>En cours</p>
          <p><a class="btn btn-default" href='' ng-click="goSeance()" role="button">Voir plus &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Mes amis</h2>
          <p>J'en ai pas (encore) !</p>
          <p><a class="btn btn-default" href='' ng-click="goAmis()" role="button">Voir plus &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>La météo à venir</h2>
          <p>Il va pleuvoir..</p>
          <p><a class="btn btn-default" href='' role="button">Voir plus &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->
</div>