<div class="container-fluid well span6">
	<div class="row-fluid">
        <div class="span2" >
		    <img id="avatar" src="../images/profile.png" class="img-circle">
        </div>
        
        <div class="span8">
            <h3>{{nom}} {{prenom}}</h3>
            <h6><b>Email :</b> {{adresseMail}}</h6>
            <h6><b>Poids :</b> {{poids}} kg</h6>
			<h6><b>Taille :</b> {{taille}} m</h6>
            <h6><b>Date de naissance :</b> {{dateNaissance}}</h6>
			<h6><b>Sexe :</b> {{sexe}}</h6>
        </div>
        
        <div class="span2">
            <a class="btn btn-primary" href="#/updateProfil">Modifier</a>
        </div>
</div>
</div>