<form class="form-horizontal" action='' method="POST" ng-submit="submit()">
  <fieldset>
    <div id="legend">
      <legend class="">S'inscrire</legend>
    </div>
    <div class="control-group">
      <!-- Nom -->
      <label class="control-label"  for="nom">Nom</label>
      <div class="controls">
        <input type="text" id="nom" name="nom" ng-model="formData.nom" placeholder="" class="input-xlarge" required="">
      </div>
    </div>
	
	<div class="control-group">
      <!-- Prenom -->
      <label class="control-label"  for="prenom">Prénom</label>
      <div class="controls">
        <input type="text" id="prenom" name="prenom" ng-model="formData.prenom" placeholder="" class="input-xlarge" required="">
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="adresseMail">E-mail</label>
      <div class="controls">
        <input type="text" id="adresseMail" name="adresseMail" ng-model="formData.adresseMail" placeholder="" class="input-xlarge" required="">
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="mdp">Mot de passe</label>
      <div class="controls">
        <input type="password" id="mdp" name="mdp" ng-model="formData.mdp" placeholder="" class="input-xlarge" required="">
      </div>
    </div>
 
	<br />
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
		<input class="btn btn-primary" type="submit" value="S'inscrire">
      </div>
    </div>
  </fieldset>
</form>