<div id="legend">
      <legend class="">Mes séances ({{listSeances.length}})</legend>
    </div>
<div class="btn-toolbar">
    <a class="btn btn-primary" href="#/createSeance">Ajouter une séance</a>
</div>

<div class="well" style="margin-top: 10px">
	<input type="search" ng-model="q" placeholder="Filter les séances..." />
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Heure de départ</th>
          <th>Distance</th>
          <th>Vitesse</th>
		  <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="seance in listSeances | filter:q">
          <td>{{seance.date}}</td>
          <td>{{seance.heureDepart}}</td>
          <td>{{seance.distance}}</td>
          <td>{{seance.vitesse}}</td>
		  <td><a href="#/getSeance?id={{seance.id}}">Détails</a></td>
        </tr>
      </tbody>
    </table>
</div>