<form class="form-horizontal" action='' method="POST" ng-submit="submit()" data-ng-init="test()">
  <fieldset>
    <div id="legend">
      <legend class="">Modifier mon profil</legend>
    </div>
	<div class="control-group">
      <!-- Nom -->
      <label class="control-label"  for="nom">Nom*</label>
      <div class="controls">
        <input type="text" id="nom" name="nom" ng-model="formData.nom" placeholder="" class="input-xlarge" required="">
      </div>
    </div>
 
    <div class="control-group">
      <!-- Prenom -->
      <label class="control-label" for="prenom">Prénom*</label>
      <div class="controls">
        <input type="text" id="prenom" name="prenom" ng-model="formData.prenom" placeholder="" class="input-xlarge" required="">
      </div>
    </div>
	
	<div class="control-group">
      <!-- Adresse mail -->
      <label class="control-label"  for="adresseMail">Adresse mail*</label>
      <div class="controls">
        <input type="email" id="adresseMail" name="adresseMail" ng-model="formData.adresseMail" placeholder="" class="input-xlarge" required="">
      </div>
    </div>
	
	<div class="control-group">
      <!-- Date de naissance -->
      <label class="control-label" for="dateNaissance">Date de naissance (mm/dd/yyyy)</label>
      <div class="controls">
        <input type="date" id="dateNaissance" name="dateNaissance" ng-model="formData.dateNaissance" placeholder="" class="input-xlarge">
      </div>
    </div>
	
	<div class="control-group">
      <!-- Avatar -->
      <label class="control-label" for="avatar">Avatar (url)</label>
      <div class="controls">
        <input type="url" id="avatar" name="avatar" ng-model="formData.avatar" placeholder="http://www.mon-avatar.png" class="input-xlarge">
      </div>
    </div>
	
	<div class="control-group">
      <!-- Date de naissance -->
      <label class="control-label" for="poids">Poids (kg)*</label>
      <div class="controls">
        <input type="number" step="any" id="poids" name="poids" ng-model="formData.poids" placeholder="" class="input-xlarge" required="">
      </div>
    </div>
	
	<div class="control-group">
      <!-- Date de naissance -->
      <label class="control-label" for="taille">Taille (cm)*</label>
      <div class="controls">
        <input type="number" step="any" id="taille" name="taille" ng-model="formData.taille" placeholder="" class="input-xlarge" required="">
      </div>
    </div>
	
	<div class="control-group">
      <!-- See -->
      <label class="control-label" for="sexe">Sexe</label>
      <div class="controls">
		<select id="sexe" name="sexe" ng-model="formData.sexe" class="input-xlarge">
		  <option id="sexe_false" value="false">Masculin</option>
		  <option id="sexe_true" value="true">Féminin</option>
		</select>
      </div>
    </div>

	<input type="hidden" name="mdp" ng-model="formData.mdp">
	<input type="hidden" name="id" ng-model="formData.id">
 
	<br />
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
		<a class="btn btn-default" type="button" href="#/profil">Retour</a>
		<input class="btn btn-primary" type="submit" value="Modifier">
      </div>
    </div>
  </fieldset>
</form>
